body{
	margin: 0 0;

}

/* 头部 */
#top{
	width: 100%;
	height: 60px;
	box-shadow: gainsboro 0px 3px 10px 3px;
}
#top2{
	position: relative;
	width: 1040px;
	height: 58px;
	margin: 0 auto;
}
#titlename{
	display: block;
	width: 20%;
	font-size: 30px;
	font-family: 华文新魏;
	position: absolute;
	top: 16px;
	color: red;
}
#topright{
	position: absolute;
	width: 90%;
	/*float: right;*/
	height: 57px;
	line-height: 57px;
}
#topright a{
	color: #0C0C0C;
}
a{
	text-decoration: none;
}
#home{
	margin-left: 650px;
	margin-right: 10px;
}
#login{
	margin-left: 50px;
}
#topright a:hover{
	color: red;
}

/* 身体部分 */
#body{
	width: 1040px;
	height: 1400px;
	margin: 0 auto;
	margin-top: 20px;
}
#bodyleft{
	width: 700px;
	height: 100%;
	/* border: 1px solid red; */
	float: left;
}

/* 图片部分 */
#img{
	width: 700px;
	height: 675px;
}

#imgbig{
	height: 550px;
	width: 98%;
	margin: 0 auto;
}
#big{
	height: 100%;
	width: 100%;
	border-radius: 10px;
}

#imgsmall{
	height: 120px;
	width: 100%;
}
#imgsmall img{
	height: 100px;
	width: 100px;
	margin-top: 10px;
	margin-left: 10px;
	cursor: pointer;
	border-radius: 10px;
}

#jianjie{
	border-top: 1px solid gainsboro;
}
#tubiao{
	height: 200px;
}

.tubiaoimg{
	width: 40px;
	height: 40px;
}

#tubiao div{
	padding-left: 20px;
	padding-top: 30px;
	float: left;
	text-align: center;
	color: gray;
}

#dv3{
	height: 40px;
}
.sp2{
	color: #B2B2B2;
	font-size: 18px;
}

/* 身体右侧 */
#bodyright{
	height: 100%;
	float: right;
	width: 310px;
}

#price{
	font-size: 30px;
	color: #FFB800;
}
table{
	width: 100%;
	margin-top: 20px;
}
td{
}

.td1{
	width: 32%;
	height: 80px;
}

.dv1{
	height: 40px;
	border-top: 1px solid gainsboro;
	line-height: 40px;
}

.sp1{
	color: #B2B2B2;
}

#fangdong{
	height: 250px;
	border: 1px solid #B2B2B2;
}
#fangdong2{
	height: 270px;
	width: 280px;
	/* border: 1px solid red; */
	margin: 5px auto;
}
#xinxi{
	text-align: center;
	height: 20px;
}

#fangdongtitle{
	height: 60px;
	margin-top: 10px;
}

#touxiangimg{
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
#touxiang{
	width:60px;
	float: left;
}
#fangdongname{
	width:205px;
	height: 65px;
	float: right;
}

#name{
	font-size: 20px;
	position: relative;
	top: 8px;
}

#phone{
	font-size: 12px;
	color: darkgrey;
	position: relative;
	top: 3px;
}

#zixun{
	background-color: white;
	border: 1px solid gray;
	width: 270px;
	height: 40px;
	font-size: 16px;
	color: gray;
	margin-top: 10px;
	cursor: pointer;
}
#yuyue{
	border: none;
	background-color: orange;
	width: 270px;
	height: 40px;
	font-size: 16px;
	color: white;
	margin-top: 10px;
	cursor: pointer;
}
