body{
    margin-left: 0px;
    margin-right: 0px;
}
#big{
    height: 750px;
    width: 100%;
    margin-top: 90px;
    background-color: #555555;
    background-image: url("/resource/images/login_bg.jpg");
    background-repeat:no-repeat;
    background-size:100% 100%;
}
#big input[type="text"],
#big input[type="password"]{
    padding: 0 5px;
}
#login{
    height: 500px;
    width: 500px;
    border: 1px solid white;
    margin: 0px auto;
    position: relative;
    top: 80px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 15px;
    /* font-family: 楷体; */
}
#title{
    height: 130px;
    font-size: 30px;
    line-height: 160px;
    font-family: 华文新魏;
}
#lab{
    margin-top: 20px;
}
#txt,#psw{
    width: 260px;
    height: 40px;
    border-radius: 8px;
}

.input{
    font-size: 25px;
    /* border: 1px solid black; */
    text-align: center;
    margin-top: 35px;
    height: 45px;
    /* border: 1px solid black; */
}
input{
    font-size: 20px;
    border: 1px solid black;
}
#btn{
    width: 340px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
}
a{
    text-decoration: none;
    position: relative;
    left: 235px;
    top: 10px;
}
header{
    height: 90px;
}
#our{
    position: relative;
    top: 10px;
    left: 240px;
    font-size: 50px;
    font-family: 华文新魏;
    color: crimson;
}
.sp{
    font-size: 10px;
    position: absolute;
    left: 160px;
}
#sub{
    font-size: 25px;
    /* border: 1px solid black; */
    text-align: center;
    margin-top: 55px;
    height: 45px;
}
#first{
    position: relative;
    left: 135px;
}
#aa{
    /* border: 1px solid black; */
    position: absolute;
    top: 310px;
    padding-left: 80px;
    font-size: 15px;
}
#backhome{
    text-decoration: none;
    position: absolute;
    left: 10px;
    top: 15px;
    color: black;
}