* {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    position: relative;
}

header {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

header ul {
    line-height: 70px;
    width: 50%;
    min-width: 800px;
    height: 60px;
    margin: 0 auto;
}

header ul li {
    float: left;
    width: 9%;
    margin: 0 5% 0 5%;
}

.nav_header {
    color: #fff;
    width: 35px;
    font-size: 18px;
    font-weight: 700;
}
.a{
    cursor: pointer;
    text-decoration: none;
    color: white !important;
}
.a:hover{
    color: darkorange !important;
    text-decoration: none;
}
.reg_log {
    float: right;
    margin: 0;
}

header li:hover a {
    color: #FF961E !important;
}
.bgcolor-samll-white{
    background-color: rgba(255,255,255,0.2);
}
.bgcolor-full-white{
    background-color: white;
}
.bgcolor-full-black{
    background-color: black;
}
.bgcolor-samll-black{
    background-color: rgba(0,0,0,0.2);
}