body{
    margin-left: 0px;
    margin-right: 0px;
}
#big{
    height: 750px;
    width: 100%;
    margin-top: 75px;
    background-color: #555555;
    background-image: url(/resource/images/login_bg.jpg);
    background-repeat:no-repeat;
    background-size:100% 100%;
}
#login{
    height: 600px;
    width: 500px;
    border: 1px solid white;
    margin: 0px auto;
    position: relative;
    top: 60px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 15px;
    /* font-family: 楷体; */
}
#title{
    margin-top: 40px;
    height: 60px;
}
h1{
    font-size: 50px;
    font-family: 华文新魏;
}
.inp{
    width: 230px;
    height: 30px;
    border-radius: 8px;
}

.input{
    font-size: 25px;
    /* border: 1px solid black; */
    text-align: center;
    margin-top: 35px;
    height: 45px;
    /* border: 1px solid black; */
}
input{
    font-size: 20px;
    border: 1px solid black;
}

#our{
    position: relative;
    left: 240px;
    font-size: 50px;
    font-family: 华文新魏;
    color: crimson;
}
.sp{
    font-size: 10px;
    position: absolute;
    left: 175px;
}
table{
    margin: 0 auto;
}
.td1{
    text-align: right;
    height: 50px;
}
#index_a{
    text-decoration: none;
    position: absolute;
    left: 10px;
    top: 15px;
    color: black;
}
#index_a:hover{
    color: red;
}
#log_a{
    text-decoration: none;
    color: #0D6EFD;

    size: 10px;
    margin: 15px;

}
#log_a:hover{
    text-decoration: underline;
    color: #4d93ff;
}
#btn_reg{
    margin-top: 30px;
    width: 100%;
}