body{
	margin: 0px 0px;
}

.td0{
	width: 40px;
}

#td1{
	text-align: center;
	font-size: 35px;
	height: 100px;
	font-family: 华文新魏;
}

.tr1{
	text-align: center;
}

#td3,#address{
	width: 321px;
	height: 35px;
}

.td4{
	height: 30px;
	width: 60px;
}

#td5{
	border-radius: 5px;
	border: 1px solid black;
	height: 85px;
	background: rgba(225,225,225,0.5);
}

.m{
	width: 150px;
	height: 60px;
	text-align: right;
	padding-right: 20px;
	font-size: 20px;
}
#check input{
	margin-left: 10px;
	border: 1px solid black;
}

#t1{
	 margin:auto;
	 height: 90px;
}
	
#t2{
	margin: 0px auto;
	width: 600px;
	height: 700px;
	border-collapse: collapse;
	position: relative;
	top: 20px;
}

#t2 td{
	/*border: 1px solid black;*/
}

#p{
	width: 100px;
	text-align: right

}
#b{
 color: red;
 font-size: 50px;
 font-family:华文新魏;
 width:70%;
 cursor: pointer;
 font-size: 60px;

 }

 a{
	 color: white;
	 text-decoration: none;
 }
 input{
	 background: rgba(225,225,225,0.7);
	 border: solid 1px black;
	 /*border-radius: 5px ;*/
 }
select{
	background: rgba(225,225,225,0.5);
}
#big{
    height:1300px;
    width: 100%;
    background-image: url(/resource/images/login_bg.jpg);
    background-repeat:no-repeat;
    background-size:100% 100%;
}
#big input[type="text"],
#big input[type="password"]{
	padding: 0 5px;
}
#d1{
	margin: 0px auto;
	position: relative;
	top: 102px;
	width: 750px;
	height: 1150px;
	background-color: rgba(255,255,255,0.5);
	border-radius: 20px;

}

#header{
	background-color:rgba(255, 255, 255, 0.5);
	box-shadow: 2px 2px 8px silver;
}
#header ul li a{
	color: black;
}
#btn{
	width: 150px;
	height: 49px;
	margin-top: 29px;
}

#file,#file2{
	border: none;
	cursor: pointer;
	width: 205px;
	background: rgba(0,0,0,0);
}

#hximg{
	/*border: 1px solid black;*/
	width: 158px;
	height: 88px;
	position: absolute;
	margin-left: -69px;
	cursor: pointer;
}

#dvimg{
	background: rgba(255,255,255,0.5);
	border: 1px solid black;
	width: 160px;
	height: 90px;
	font-size: 30px;
	text-align: center;
	line-height: 87px;
	cursor: pointer;
	margin-top: 12px;
}
.sheshi{
	background-color: blue;
}
.btn>input:hover{
	cursor: pointer;
}