.current{
    color: #FF961E !important;
}

#header{
    background-color:rgba(255, 255, 255, 1.0);
    box-shadow: 2px 2px 8px silver;
}

#header ul li a{
    color: black;
}

#page_body {
    padding-top: 110px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#div_select {
    width: 550px;
}

#input_select {
    height: 50px;
    height: 50px;
}

#div_renting ul li {
    margin-bottom: 10px;
}

.div_border {
    width: 90%;
    padding-bottom: 5px;
    border-bottom: solid 1px #dddddd;
}

.div_inBlock {
    display: inline-block;
}

.div_none {
    display: none;
}

.strong_title {
    margin-right: 10px;
    font-size: 18px;
    width: 85px;
    display: inline-block;
}

.input_price {
    width: 80px;
    border: #9fa5aa 1px solid;
}

.div_price {
    margin-bottom: 10px;
}

#button_unfold {
    text-align: center;
}

#button_packUp {
    text-align: center;
}

#div_sort {
    width: 98%;
    height: 39px;
    border-bottom: solid 1px #dddddd;
    margin-top: 40px;
}

#div_sort div {
    float: right;
}

.sort_current{
    color: #FF961E !important;
    border-bottom: 1px solid #FF961E !important;
}

.div_house {
    margin-top: 30px;
}

.house_id{
    margin: 0 20px;
}

.location::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(/resource/images/location.png)no-repeat;
    background-size: cover;
}

.div_img {
    background-color: aqua;
    width: 350px;
    height: 270px;
    border-radius: 5px 5px 0px 0px;
}
.div_img:hover{
    cursor: pointer;
}

.house_info {
    border: 1px solid #e0e0e0;
    width: 350px;
    height: 160px;
    padding: 0px 16px;
    position: relative;
    margin-bottom: 20px;
    border-radius: 0px 0px 5px 5px;
}

.house_info h5 {
    display: inline-block;
    padding: 20px 20px 6px 5px;
    margin-bottom: 0px;
}

.house_info div:nth-child(3) {
    font-size: 12px;
}

.house_info div:last-child {
    position: absolute;
    top: 45px;
    right: 15px;
    font-size: 25px;
    color: rgb(247, 183, 8);
}

.location {
    font-size: 14px;
    margin-top: 10px;
}

.trait {
    margin-top: 15px;
}

.trait span {
    margin-right: 20px;
}

.icon {
    position: absolute;
    top: 1px;
    left: 1px;
}
.selected{
    color: #ffa357 !important;
}